body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

select,
textarea,
.form-control,
input {
    width: 70%;
}

.response__message-container {
    margin-top: 16px;
}

.settings__user-password-container--disabled {
    opacity: 0.5;
}

textarea,
textarea.form-control {
    height: 12vh;
}

.connection-test__container {
    margin-top: 16px;
}

.connection-test__text--hidden {
    display: none;
}
.connection-test__text {
    color: #3c763d;
}

    @media only screen and (max-width: 768px) {
        select, textarea, .form-control, input {
        width: 100%;
    }
}
