@model QuestionEntities.Question

@{
    ViewBag.Title = Languages.Language.Edit;
}

<h2>@Languages.Language.Edit</h2>

@Html.Partial("_QuestionForm", Model)

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/QuestionsJS")
}