<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    @Languages.Language.Error
                </h1>
                <div class="error-details">
                    @Languages.Language.ErrorMessage
                    <br />
                </div>
                <div class="error-actions">
                    @Html.ActionLink(Languages.Language.ErrorHome, "Index", new { }, new { @class = "btn btn-primary btn-lg" })
                </div>
            </div>
        </div>
    </div>
</div>
